
.nab-Content{
 box-shadow: 0 2px 8px rgba(248, 246, 246, 0.1);  

   

}
.Nab-Social {
padding-top: 20px;
text-align: center;
font-size: 150%;
background-color:#042b52 ;

     a{
          text-decoration: none;
          color: #f3efef;
          font-family:  "Roboto";
          transition: color 0.3s;
          

          &:hover {     
               color: #738bdb;
          }
      }

}