<main>
  <section class="about" id="about">
    <div class="container">
      <div class="about__intro">
        <h1 style="font-size: 3rem;">¡ Hola ! </h1>
        <h1 style="text-align: center; color: gold;font-size: 2rem;">Soy Sebastián Fuentes</h1>
        <p style="text-align: center;padding-top: 20px; font-size: 1.3rem;"> ingeniero en sistemas con un enfoque integral en el desarrollo de software. Manejo tanto frontend como backend, y tengo experiencia construyendo soluciones modernas y escalables.</p>
      </div>
      <div class="about__profile">
        <div class="about__profile-overlay">
         
          <img src="assets/images/Perfil.jpg" alt="Perfil de Sebastián Fuentes">
        </div>
        <h1 style="color: gold;">Desarrollador Full Stack Junior</h1>
        <button class="buton_disponible">Disponible para trabajar</button>
      </div>
      <div class="about__skills" style="text-align: center;">
        <h1 style="text-align: start; font-size: 2rem;">Mis Habilidades</h1>
        <h1>Tengo experiencia desarrollando aplicaciones modernas combinando tecnologías como Angular y React para el diseño de interfaces interactivas y atractivas, junto con .NET para construir la lógica del sistema.</h1>
        <ul>  
          <li>
               <img src="assets/icons/angular.svg" alt="CSS Icon">
          </li>
           <li>
              <img src="assets/icons/c.svg" alt="CSS Icon">
           </li>
           <li>
              <img src="assets/icons/dot.svg" alt="CSS Icon">
           </li>
           <li>
              <img src="assets/icons/react.svg" alt="CSS Icon">
           </li>
            <li>
              <img src="assets/icons/typescript.svg" alt="CSS Icon">
           </li>
        </ul>


      </div>
    </div>
  </section>

<!-- seccion de proyectos desarrollados -->

  <section class="Proyecto" id="Proyecto">
    <div class="container">
      <div class="programas__intro">
        <h1 style="text-align: start; font-size: 2rem;">Proyectos Desarrollados</h1>
        <p style="text-align: center;">Algunos de los proyectos en los que he trabajado, destacando mis habilidades en desarrollo web y microservicios.</p>
      <div class="programas__list">
        <div class="programa">
           <img src="assets/images/Burger.jpeg" alt="Vista previa Proyecto 1" class="programa__img">
          <h2>
            Proyecto 1: E-comerce hamburguesas
          <a href="https://ecommerce-food-five.vercel.app/" target="_blank" rel="noopener noreferrer" class="programa__link" title="Ver proyecto" style="text-decoration: none; color: rgb(245, 182, 9);">
              Ver Proyecto 
            </a>
          </h2>
          <p>Desarrollé un  pagina  web para un e-commerce de hamburguesas.</p>
        </div>
        <div class="programa">
            <img src="assets/images/Amachons.jpeg" alt="Vista previa Proyecto 1" class="programa__img">
          <h2>
            Proyecto 2: Plataforma de E-commerce
            <a href="https://web-agencia-rho.vercel.app/" target="_blank" rel="noopener noreferrer" class="programa__link" title="Ver proyecto" style="text-decoration: none; color: rgb(245, 182, 9);">
              Ver Proyecto 
            </a>
          </h2>
          <p>Creé una plataforma  e-commerce con Angular 18 en el frontend y una arquitectura de microservicios con clean architecture en el backend. Utilicé RabbitMQ para la mensajería entre servicios y PostgreSQL como base de datos principal.</p>
        </div>
<!--         
        <div class="programa">
          <img src="assets/images/Reservas.jpeg" alt="Vista previa Proyecto 1" class="programa__img">
          <h2>Proyecto 3: ReservaYa
            <a href="https://deploy-vercer-front.vercel.app/  " target="_blank" rel="noopener noreferrer" class="programa__link" title="Ver proyecto" style="text-decoration: none; color: rgb(245, 182, 9);">
              Ver Proyecto 
            </a>
          </h2>

          <p>Desarrolle una pagina web responsive para realizar reservas de implementos y areas deportivas  con funcionalidades de gestion de usuarios,gestion de impleementos y reservas React 18, taildwind css, .Net arquitectura en capas.</p>
        </div> -->
<!--         
          <div class="programa">
          <img src="assets/images/Crypto.jpeg" alt="Vista previa Proyecto 1" class="programa__img">
          <h2>
            Proyecto 4: Crypto Tracker
            <a href="https://front-crypto-dusky.vercel.app/" target="_blank" rel="noopener noreferrer" class="programa__link" title="Ver proyecto" style="text-decoration: none; color: rgb(245, 182, 9);">
              Ver Proyecto 
            </a>
          </h2>
          <p>Implementé un API Gateway utilizando Ocelot para gestionar las solicitudes a múltiples microservicios. Configuré autenticación y autorización con Azure AD para asegurar las comunicaciones.</p>
        </div>

         <div class="programa">
          <img src="assets/images/Agencia.jpeg" alt="Vista previa Proyecto 1" class="programa__img">
          <h2>
            Proyecto 5: GoNexo Agencia de Intercambios
            <a href="https://web-agencia-rho.vercel.app/" target="_blank" rel="noopener noreferrer" class="programa__link" title="Ver proyecto" style="text-decoration: none; color: rgb(245, 182, 9);">
              Ver Proyecto 
            </a>
          </h2>
          <p>Implementé un API Gateway utilizando Ocelot para gestionar las solicitudes a múltiples microservicios. Configuré autenticación y autorización con Azure AD para asegurar las comunicaciones.</p>
        </div> -->

      </div>

       </div>
    </div>

  
  </section>

  <section class="AboutMe" id="AboutMe">
    <div class="container" >
      <div class="about__me">
        <h1 style="text-align: start; font-size: 2rem; color: gold;">Acerca de Mí</h1>
<p>Empecé en la programación desde que era niño, usando Cheat Engine para hackear juegos de Facebook y conseguir objetos de pago (sí, así empezó mi curiosidad por el código 😆).</p>
<p>Me encantan los animales y me importa mucho el cuidado del medio ambiente. Disfruto trabajar en equipo, porque creo que compartir ideas y apoyarnos entre todos hace que todo salga mejor. Siempre estoy dispuesto a aprender cosas nuevas y a dar una mano cuando alguien lo necesita.</p>
<p>Me gusta meterme en proyectos que sean divertidos, retadores y que me ayuden a seguir creciendo como persona y como programador.</p>


      </div>
      <div class="about__me-image">
        <img src="assets/images/heico.jpg" alt="Imagen de Sebastián Fuentes">

      </div>
    </div>
  </section>


  <div class="footer__icons">
    <a href="https://github.com/Sebastian99fuentes" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/github.svg" alt="CSS Icon">
    </a>
    <a href="https://www.linkedin.com/in/sebasti%C3%A1n-fuentes-123ba41b9/" target="_blank" rel="noopener noreferrer">
        <img class="LinkedIn" src="assets/icons/linkedin.svg" alt="CSS Icon">
    </a>
    
  
      <p>&copy; 2025 Sebastián Fuentes sin derechos reservados  pipipi</p>
  </div>
</main>
